.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(var(--nav-background),black );
    color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav{
    display: flex;
    width: 100vw;
    color: var(--text-color);
    background-color: var(--bacground-color);
  }
  
  
  .logowrap{
    cursor: pointer;
    height: 60px;
    width : 80px ;
    overflow: hidden;
  }

  .logoimg{
   height : 100%;
   width: 100%;
    object-fit: contain ;
  
  }
  
  .links{
    display: flex;
    position: fixed;
    top: 4em;
    left: 0;
    height: 0;
    background-color: var(--bacground-color);
    z-index: 2;
    flex-direction: column;
    justify-content: space-around;
    width : 25vw;
    overflow: hidden;
    align-items: center;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    
  }
  [data-menu="true"]{
    height: 500px;
    
  }
  .links  Link{
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    color: black;
  }

  
  .switch{
   visibility: hidden;
  }
  .switch + label {
    display: flex;
    align-self: center;
    align-items: center;
    cursor: pointer;
    color: var(--nav-background);
  }
  
  .switch + label::before {
   
    visibility: visible;
    position: absolute;
    height: 1em;
    width: 2.5em;
    content: "";
    background-color: var(--switch-background);
    border-radius: 1rem;
    margin-right: 0.5em;
    right: 0.5em;
    top:1.5em; 
    transition: background-color 250ms ease-in-out;
    
  }
  .switch + label::after {
    content: "";
    border-radius: 1rem;
    right: 2.4em;
    top:1.6em; 
   
    visibility: visible;
    position: absolute;
    background-color: var(--switch-body);
    height: 0.8em;
    width: 0.8em;
    transition: background-color 250ms ease-in-out , transform 250ms ease-in-out;
  
  }
  .switch:checked + label::after{
    transform: translate(150%);
  }
  .logowrap:hover {
   scale: 1.1;
   .links{
    height: 12em;
    background-color: black;
   }
  }

  @media screen and (max-width : 600px){
    .links{
      width: 50dvw;
    }
   

  }