.service-wrap{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.service-wrap-title{
    position : absolute;
    width : 100dvw;
}
.service-card{
    margin-top: 80px;
    position: relative;
    height: 350px;
    width: 350px;
    transition: all 300ms ease-in-out;
}
.service-card:hover{
    scale: 1.2;
}
.service-card:hover .service-card-text{
    height: 100%;
}
.service-card-text{
    height: 0%;
    position: absolute;
    width: 100%;
    border-radius: 1rem;
    color: black;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    transition: height 300ms ease-in-out;
    background-color: rgba(41, 68, 224, 0.2);
}





