.top-wrap{
  margin-top: 3rem;
    position: relative;
    overflow: hidden;
    width: 100dvw;
    height: 300px;
    object-position: start; 
    
  }
  .top-wrap-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  .top-slogan{
    position: absolute;
    top : 265px;
    left: 65px;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .top-logo-wrap{
    position: absolute;
    top: 150px;
    left: 550px;
    height :200px;
    width: 200px;
    overflow: hidden;
  
  }
  .top-logo-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  @media screen and (max-width : 600px){
    .top-wrap{
      width: 300dvw;
      object-position: start;
     
    }
    .top-wrap-img{
      object-fit: cover;

    }
    .top-logo-wrap{
      translate: -150%;
      scale: 0.8;
    }
    .top-slogan{
      translate: -15% 10px;
    }
   
   
  }