.top-wrap{
  margin-top: 3rem;
    position: relative;
    overflow: hidden;
    width: 100dvw;
    height: 400px;
  }

  .top-slogan{
    position: absolute;
    top : 350px;
    left: 45px;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .top-logo-wrap{
    position: absolute;
    top: 250px;
    left: 350px;
    height :200px;
    width: 200px;
    overflow: hidden;
  
  }
  .top-logo-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }



  